.cardImg {
	width: 100%;
	height: max-content;
	transition: all 300ms ease-in;
	position: relative;
}

.cardImg:hover {
	transform: scale(1.03);
}

.cardImg__cover {
	width: 100%;
	height: 100%;
	background: var(--clr-black);
	opacity: 0.3;
	transition: all 200ms ease;
	border-radius: 5px;
}

.cardImg__cover:hover {
	opacity: 0;
}

.cardImg__img {
	height: 225px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 5px;
	cursor: pointer;
}

.cardImg__text {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.cardImg__title {
	color: var(--clr-grey-1);
	width: max-content;
}

.cardImg__pricing {
	color: var(--clr-primary-5);
}

.cardImg__search {
	position: absolute;
	font-size: 40px;
	color: var(--clr-white);
	z-index: 1;
	padding: 10px 10px;
	background-color: var(--clr-primary-6);
	border-radius: 50%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
