.product {
	padding: 8% 5% 3% 5%;
	padding-top: 120px;
	/* min-height: 87.5vh; */
  color: var(--clr-grey-2)
}

.product__back {
  margin: 30px 0px;
}

.product__flex {
	height: 500px;
  display: flex;
  gap: 6%;
}

.product--image {
	background: url(https://react-course-comfy-sloth-store.netlify.app/static/media/hero-bcg.a876f19f.jpeg);
	height: 100%;
	width: 50%;
  flex-grow: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  border-radius: 5px;
}

.product__contentBlock{
  width: 50%;
  flex-grow: 1;  
}


.product__count{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.minus, .plus{
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.product__desc{
  line-height: 34px;
  margin-bottom: 20px;
}

.product__header{
  margin-bottom: 10px;
}

.product__price{
  margin-bottom: 10px;
}

.product__avail{
  margin-bottom: 20px;
}

